{% extends 'base-uboot.jinja2' %}
{% set bootloader_prompt = 'StarFive #' %}
{% set uboot_final_message = 'Booting bootflow' %}
{% set action_timeout_pdu_reboot   = 600 %}
{% set action_timeout_reset_device = 600 %}
{% set action_timeout_power_off    = 600 %}
