{% extends 'generic-uboot.jinja2' %}

{% set connection_command = 'jumpstarter console mock' %}
{% set hard_reset_command = 'jumpstarter reset mock' %}
{% set power_on_command = 'jumpstarter power-on mock' %}
{% set power_off_command = 'jumpstarter power-off mock' %}

{% set flasher_deploy_commands = [
     "jumpstarter set-disk-image mock {IMAGE}",
  ]
%}

{% set sync_to_lava = {
     'device_type':      'generic-uboot',
          'worker': 'lava-dispatcher-01',
  }
%}
