{% extends 'jh7110-starfive-visionfive-v2.jinja2' %}

{% set uboot_final_message = 'Booting bootflow' %}

{% set connection_command = 'telnet host.containers.internal 8023' %}
{% set hard_reset_command = [
     'jumpstarter power-off jp-c415a913',
     'jumpstarter power-on jp-c415a913',
  ]
%}
{% set power_on_command = 'jumpstarter power-on jp-c415a913' %}
{% set power_off_command = 'jumpstarter power-off jp-c415a913' %}

{% set flasher_deploy_commands = [
     'jumpstarter set-disk-image jp-c415a913 {IMAGE}',
     'jumpstarter attach-storage jp-c415a913',
  ]
%}

{% set sync_to_lava = {
     'device_type': 'jh7110-starfive-visionfive-v2',
          'worker':            'lava-dispatcher-01',
  }
%}
